{% extends 'base.html.twig' %}

{% block title %}Your URL shortened{% endblock %}

{% block body %}
    <div class="form-wrapper">
        <h2>Your short URL</h2>
        <p>
            {{ shortUrl }}
        </p>

        <p>
            <a href="{{ path('new_url') }}">Shorten another URL</a>
        </p>
    </div>
{% endblock %}
